.section-contacts{
  padding: 15px;
  position: absolute;
  top: 60px;
  overflow-y: auto;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #F4F5F7;
  .width-contact{
    width: 100%;
    margin: 0 auto -20px;
    padding: 0;
    padding: 0;
    .content-search{
      width: 95%;
      margin: 0 auto 20px;
    }
    .nav_contact_list{
      width: 100%;
      display: block;
      margin: 0 auto -20px;
      > .contact_item{
        width: 100%;
        float: none;
        position: relative;
        padding: 0;
        & + .contact_item{
          border-top: 1px solid rgb(221, 228, 234);
          // margin-top: 10px;
        }
      }
    }
  }
}
@media (min-width: 450px){
  .section-contacts{
    padding: 15px;
    .width-contact{
      width: 96%;
      .content-search{
        width: 400px;
        margin: 0 auto 25px;
      }
      .nav_contact_list{
        width: 100%;
        display: block;
        margin: 0 auto -20px;
        > .contact_item{
          width: 100%;
          float: left;
          position: relative;
          padding: 0 10px;
          margin-bottom: 20px;
          & + .contact_item{
            margin-top: 0;
            border-top: 0;
          }
        }
      }
    }
  }
}
@media (min-width: 730px) {
  .section-contacts{
    .width-contact{
      width: 700px;
      &.w2{
        width: 500px;
      }
      .nav_contact_list{
        > .contact_item{
          width: 50%;
          padding: 0 10px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media (min-width: 1170px){
  .section-contacts{
    .width-contact{
      width: 900px;
      &.width-small{
        // width: 400px;
      }
      .nav_contact_list{
        > .contact_item{
          width: 33.3333%;
        }
      }
    }
  }
}
