/*
 * Section Person
 */
.section-person{
  padding: 15px;
  position: absolute;
  top: 60px;
  overflow-y: auto;
  right: 0;
  left: 0;
  bottom: 0;
  &.section_person_delete,
  &.section_person_password{
    padding: 5px 0;
  }
  .width-person{
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    &.bg-white{
      background-color: #fff;
      padding: 0;
      border: 1px solid rgb(221, 228, 234);
    }
    .button-edit{
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 99;
      margin: 0;
    }
    .user_profile{
      width: 100%;
      padding: 10px 0;
      .img_profile{
        $himg: 130px;
        width: 100%;
        padding: 0;
        display: block;
        border-radius: 50%;
        width: $himg;
        height: $himg;
        overflow: hidden;
        z-index: 9;
        margin: 0 auto 15px;
        text-align: center;
        img{
          margin: 0 auto;
          width: $himg;
          height: $himg;
          display: block;
        }
      }
      .description_profile{
        padding: 0 10px 0;
        text-align: center;
        h3{
          font-size: 20px;
          margin: 0 0 6px;
        }
        p{
          margin: 0 0 2px;
          font-size: 13px;
          &.email{
            //color: #00bfa5;
          }
          &.phone{
            margin: 0;
          }
        }
      }
    }
    .search-person{
      width: 100%;
      position: relative;
      padding: 10px;
      .ui-textbox-input{
        font-size: 12px;
      }
      .form-search{
        padding: 0;
        .form-group{
          margin: 0;
        }
      }
    }
    .empty_search_result{
      width: 100%;
      position: relative;
      padding: 0 10px;
      .empty-content{
        transform: translateY(0);
        img{
          margin-bottom: 0;
        }
      }
    }
    .delete_account{
      width: 100%;
      display: block;
      height: auto;
      padding: 10px;
      h3{
        margin: 0 0 10px;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .ui-radio-group{
      margin-bottom: 12px;
    }
    .ui-button{
      color: #fff;
      height: 30px;
      line-height: 30px;
      padding: 0 8px;
      min-width: 60px;
    }
    .components_profile{
      width: 100%;
      background-color: #F5F8FD;
      border-top: 1px solid #E6EDF3;
      .component-block{
        $htable: 80px;
        text-align: center;
        float: left;
        width: 33.333333%;
        height: $htable;
        position: relative;
        background-color: #F5F8FD;
        .b_table{
          width: 100%;
          display: table;
          height: $htable;
          .b_cell{
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px;
            h4{
              margin: 0 0 5px;
              font-weight: 400;
              font-size: 16px;
              color: #888;
            }
            p{
              margin: 0;
              font-weight: 900;
            }
          }
        }
        & + .component-block{
          border-left: 1px solid #E6EDF3;
        }
      }
    }
    .btn-group-vertical{
      width: 100%;
      padding: 15px;
      background-color: #fff;
      .name_user{
        float: left;
        padding-left: 5px;
        margin: 0;
        text-align: left;
        span{
          font-style: italic;
          color: #999;
          font-size: 12px;
        }
      }
    }
    .list-vertical{
      width: 100%;
      padding: 10px;
      .list-invitation{
        $hList: 46px;
        display: block;
        width: 100%;
        cursor: default;
        height: $hList;
        position: relative;
        text-align: left;
        background-color: transparent;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px 0;
        transition: border-color .25s ease-in;
        & + .list-invitation{
          border-top: 1px solid #e6e6e6;
        }
        .picture_circle_user{
          position: absolute;
          height: 36px;
          width: 36px;
          border-radius: 36px;
          top: 50%;
          margin-top: -18px;
        }
        .person_name{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          display: block;
          padding-right: 170px;
          padding-left: 48px;
          margin: 0;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          span{
            font-style: italic;
            color: #999;
            font-size: 12px;
            position: relative;
            top: -3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .person_option-btns{
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -14px;
          .ui-button{
            height: 28px;
            line-height: 28px;
            padding: 0 7px;
            margin: 0;
            font-size: 12px;
          }
        }
        &:hover{
          // border-color: #00bfa5;
        }
      }
    }
    .list_buttons{
      margin-top: 8px;
      .btn_disabled{
        display: inline-block;
        *display: inline;
        button{
          opacity: 0.6;
          cursor: auto;
        }
      }
      button{
        color: #fff;
        height: 32px;
        width: 32px;
        .ui-icon{
          font-size: 18px;
        }
      }
    }
    .list-search{
      //width: 100%;
      margin: 5px 0 10px;
      padding: 0 10px;
      .ui-button{
        color: #fff;
        text-transform: capitalize;
        margin-top: 6px;
      }
      .btn-height{
        height: 40px;
        margin-top: 6px;
        color: #fff;
        text-transform: capitalize;
        font-weight: 400;
      }
    }
    table{
      margin: 0;
    }
    .ui-textbox{
      .ui-textbox-feedback{
        display: none;
      }
    }
    .edit-title{
      position: relative;
      margin: 0 0 15px;
    }
    .form-horizontal{
      padding: 0;
      &.form-top{
        .ui-textbox{
          .ui-textbox-feedback{
            display: none;
          }
        }
      }
      .form-group{
        margin: 0 0 15px;
      }
      .btn-save-edit{
        background: #3f51b5;
        color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
        outline: 0;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: 36px;
        border: none;
        border-radius: 0;
        position: relative;
        height: 36px;
        padding: 0 15px;
        min-width: 64px;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        overflow: hidden;
        will-change: box-shadow,transform;
      }
    }
  }
}

@media (min-width: 550px) {
  .section-person{
    // padding: 40px 0;
    .width-person{
      width: 98%;
      .ui-button{
        color: #fff;
        height: 40px;
        line-height: 1;
        padding: 8px 16px;
        min-width: 80px;
      }
      .delete_account{
        padding: 15px;
        h3{
          font-size: 18px;
        }
      }
      .list-vertical{
        padding: 15px;
        .list-invitation{
          .person_name{
            padding-right: 215px;
          }
          .person_option-btns{
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -16px;
            .ui-button{
              height: 32px;
              line-height: 32px;
              padding: 0 15px;
              font-size: 14px;
            }
          }
        }
      }
      .search-person{
        padding: 15px;
      }
      .empty_search_result{
        width: 100%;
        padding: 15px;
      }
      .list-search{
        padding: 0 15px;
        margin: 5px 0 15px;
        // width: 100%;
        // margin: 15px 0 0;
        // padding: 0 15px;
      }
      position: relative;
      width: 555px;
      margin: 0 auto;
    }
  }
}
